* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    padding-right: 0;

}
 section.header {
    background-color: rgb(51, 53, 69);
    height: 64px;
    width: 100%;
    display: flex;
 }
section.header section.wrapper {
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}
 section.header section.wrapper section.left {
    display: flex;
    position: absolute;
    left: 0;  
    padding-left: 30px;
 }

 section.header section.wrapper section.left img{
    height: 55px;
    width: 150px;
    padding-left: 0px;
    
 }
 section.header section.wrapper section.left i {
    position: relative;
    top: 24px;
    left: -541px;
    color: rgb(117, 103, 103);

 }
 section.header section.wrapper section.left input {
    width: 550px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    position: relative;
    top: 15px;
 }

 section.header section.wrapper section.right {
    width: 92%;
    margin: 0 auto; 
    text-align: right;
    position: absolute;
    font-family: tahoma;
    
 }

 section.header section.wrapper section.right .item{
        position: relative;
        top: 20px;
        color:rgb(180, 184, 187);
        text-decoration: none;
        margin-right: 2px ;
        font-size: 15px;
 }
 section.header section.wrapper section.right .item1{
    background-color: #ff5962;
    position: relative;
    top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    border: 0;
    border-radius: 7px;
    font-size: 15px;
    padding: 5px;
                            
}
section.header section.wrapper section.right i{
    color:rgb(180, 184, 187);
    position: relative;
    top: 20px;  
    font-size: 15px;                         
}

section.header2 {
    background-color: rgb(31, 37, 51);
    height: 40px;
    padding-left: 30px;
    width: 100;
   
    box-sizing: border-box;
    width: 100%;
}
section.header2 .wrapper {
    display: flex;
    position: absolute;
  

}
section.header2 .left{
    display: flex;

}
section.header2 .wrapper .left a{
    color: rgb(180, 184, 187);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 10px;
    position: relative;
    top: 10px;
    font-size: 15px;
}
section.header2 .right{
    position: relative;
    left: 500px;
    top: 10px;
    box-sizing: border-box;
}
section.header2 .wrapper .right a{
    margin-right: 15px;
    text-align: right;
    text-decoration: none;
    color: rgb(180, 184, 187);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

}
section.poster1 img {
    position: relative;
    top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 350px;
}

h3#h31 {
    display: block;
    padding-left: 30px;
    color: rgb(84, 90, 90) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

section.recommendedmovies{
    display: flex;
    box-sizing: border-box;
  margin: 0 auto;
   padding-left: 30px;
   padding-right: 30px;
    width: 100%;
}
section.recommendedmovies div{
   box-sizing: border-box;
    width: 90%;
    margin:0 auto;
    
}
section.recommendedmovies div.one img {
    width: 225px;
    height: 380px;
    border-radius: 10px;
    
}
section.recommendedmovies div.one p#one{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 225px;
}
section.recommendedmovies div.one p#two{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(114, 116, 117);
}


section.recommendedmovies div.two img {
    width: 225px;
    height: 380px;
    border-radius: 10px;
    
}
section.recommendedmovies div.two p#one{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section.recommendedmovies div.two p#two{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(114, 116, 117);
}

section.recommendedmovies div.three img {
    width: 225px;
    height: 380px;
    border-radius: 10px;
    
}
section.recommendedmovies div.three p#one{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section.recommendedmovies div.three p#two{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(114, 116, 117);
}

section.recommendedmovies div.four img {
    width: 225px;
    height: 380px;
    border-radius: 10px;
   
}
section.recommendedmovies div.four p#one{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section.recommendedmovies div.four p#two{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(114, 116, 117);
}

section.recommendedmovies div.five img {
    width: 225px;
    height: 380px;
    border-radius: 10px;
    
}


section.recommendedmovies div.five p#one{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section.recommendedmovies div.five p#two{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(114, 116, 117);
}
section.poster2 {
    width: 100%;
}
section.poster2 img{
    position: relative;
    top: 20px;
    bottom: -20px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;

}

#h32 {
    display: flex;
    padding-left: 30px;
    color: rgb(84, 90, 90) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;    
    width: 90%;
}

section.events {
    display: flex;
    position: relative;
    top: 10px;
    padding-left: 30px;
}
section.events img {
    width: 225px;
    height: 220px;
    border-radius: 10px 10px 10px 10px;
    margin-right: 35px;
}

section.premiere {
    background-color:  rgb(51, 53, 69);
       width: 100%;
       position: relative;
       top: 50px;
       margin: auto;
}

section.premiere #p0{
    color: #ff5962;
    text-align: right;
    width: 80%;
    position: relative;
    top: -20px;
    right: -120px;
    font-size: 25px;
}

section.premiere i{
    color: #ff5962;
    position: relative;
    top: 50px;
    left: 30px;
    font-size: 50px;
}

section.premiere h3{
    padding-left: 50px;
    color: rgb(227, 228, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-size: 23px;
    position: relative;
    left: 40px;
    width: 80%;
}
section.premiere p#p1{
    color: rgb(191, 194, 197);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 5px;
    left: 90px;
    width: 80%;
}
section.premiere p#p2{
    padding-left: 50px;
    color: rgb(239, 240, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    font-weight: bold;
    position: relative;
    padding-left: 30px;
}

section.premiere p#p3{
    color: rgb(230, 231, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 10px;
    width: 80%;
}

section.premiere .prem{
    display: flex;
    width: 100%;
    padding-left: 30px;
  
    height: 425px;
    
}
section.premiere .prem div{
    margin-right: 35px
}


section.premiere .prem .one img{
    width: 220px;
    border-radius: 10px;
}
section.premiere .prem .one .one{
    color: aliceblue;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section.premiere .prem .one .two{
    position: relative;
    top: 10px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


section.premiere .prem .two img{
    width: 220px;
    border-radius: 10px;
}
section.premiere .prem .two .one{
    color: aliceblue;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


section.premiere .prem .two .two{
    position: relative;
    top: 10px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



section.premiere .prem .three img{
    width: 220px;
    border-radius: 10px;
}
section.premiere .prem .three .one{
    color: aliceblue;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


section.premiere .prem .three .two{
    position: relative;
    top: 10px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


section.premiere .prem .four img{
    width: 220px;
    border-radius: 10px;
}
section.premiere .prem .four .one{
    color: aliceblue;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 220px;
}


section.premiere .prem .four .two{
    position: relative;
    top: 10px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


section.premiere .prem .five img{
    width: 220px;
    border-radius: 10px;
}
section.premiere .prem .five .one{
    color: aliceblue;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


section.premiere .prem .five .two{
    position: relative;
    top: 10px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3#h34{
    display: flex;
    padding-left: 30px;
    position: relative;
    top: 50px;
    padding-bottom: 10px;
    color: rgb(84, 90, 90) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;  
    width: 80%;
}

section.eventshappen{
    width: 100%;
}

section.eventshappen div.events {
    display: flex;
    padding-left: 30px;
    position: relative;
    top: 50px;
   
    
}

section.eventshappen div.events img{
    border-radius: 10px;
    width: 225px;
    height: 380px;
    margin: 17px;
}

section.eventshappen div.events p#one{
    width: 225px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

section.eventshappen div.events p#two{
    width: 225px;
    margin-top: 10px;
    color: rgb(84, 90, 90);
}

section.eventshappen div.events p#three{
    width: 225px;
    margin-top: 5px;
    color: rgb(84, 90, 90);
}

footer.one{
    display: flex;
    background-color:rgb(40, 40, 43);
    height: 83px;
    color: rgb(222, 224, 226);
    padding-left:30px;
    padding-top: 30px;
    position:relative;
    top: 60px;
}

footer.one i{
    position: relative;
    top: 4px;
    margin-right: 10px;
}
footer.one p {
    font-size: 20px;
}
p#h41{
    color: rgb(245, 246, 247);
    margin-right: 20px;
    font-size: 20px;
}

footer.one button{
    position: relative;
    left: 140px;
    bottom: 15px;
    background-color: #ff5962;
    border: 0;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
    width: 180px;
    padding: 10px;
    box-sizing: border-box;
}

footer2 {
    display: flex;
    justify-content: space-around;
    background-color:rgb(74, 74, 75) ;
    height: 115px;
    width: 100%;
    position: relative;
    top: 60px;
}
footer2 i{
    font-size: 60px;
    padding-left: 30px;
   
    position: relative;
    top: 20px;
    left: 50px;
    color: rgb(146, 154, 160);
}
footer2 div p{
    color: rgb(205, 205, 206);
    position: relative;
    top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}

footer2 div p#one{
    position: relative;
    left: 30px;
}
footer2 div p#two{
    position: relative;
    right: 15px;
}
footer2 div p#three{
    position: relative;
    left: -25px;
}

section.footer3 {
    background-color:rgb(40, 40, 43);
    height: 1000px;
    width: 100%;
    padding-left: 30px;
    position: relative;
    top: 60px;
}

section.footer3 h4{
    color: rgb(139, 144, 148);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    font-size: medium;
}
section.footer3 p{
    color: rgb(137, 142, 146);
    margin-top: 15px;
    font-size: small;
}
section.footer3 img {
    display: flex;
    position: relative;
    left: 40%;
    height: 125px;
    width: 250px;
}
section.footer3 i{
    color: rgb(194, 200, 204);
    position: relative;
    font-size: 40px;
    left: 40%;
    letter-spacing: 10px;
}
section.footer3 div{
    text-align: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
